{% extends "base.html" %}


{%block content %}
<div style="padding: 100px 0; text-align: center;">
     <div class="container">
        <h1>About Us</h1>
        Hello {{output}}
        <p>Your journey begins with us.</p>
          <p>At cariie, our mission is to provide reliable, affordable,<br>
            and high-quality car rental services that make traveling enjoyable and convenient.<br> 
            We believe in creating memorable experiences for our customers.<br>
            If you want to drive yourself and want comfort + luxury at a pocket-friendly price, <br>
            then you are at the right place!  Be it a date, a weekend getaway, family holiday or simply<br>
            for picking or dropping your family & friends from airport,railway station or the bus terminal;<br>
            we have a car for every purpose at an affordable price. We ensure to provide a stress-free car rental <br>
            experience and superior service to cater each customer's need and requirements. All Our vehicles come <br>
            with an inbuilt music system and charger for your mobile phones to help you travel without any hassle. <br>
            Our easy online payments will make your experience with Trippy more friendly and painless.
            </p>

     </div>
    </div>
    <section class="section__container download__container" id="contact">
      <div class="download__grid">
        <div class="download__content">
          <h2 class="section__header">Download the free RentalX app</h2>
          <p>
            Download the RentalX app to manage your bookings, find exclusive
            deals, and access 24/7 support, all from your mobile device.
          </p>
          <div class="download__links">
            <a href="#">
              <img src="/static/assets/store.jpg" alt="app store" />
            </a>
            <a href="#">
              <img src="/static/assets/play.png" alt="play" />
            </a>
          </div>
        </div>
        <div class="download__image">
          <img src="/static/assets/download.png" alt="download" />
        </div>
      </div>
    </section>



{%endblock%}