{% extends "base.html" %}


{%block content %}
<section class="section__container download__container" id="contact">
    <div class="download__grid">
      <div class="download__content">
        <h2 class="section__header">Download the free RentalX app</h2>
        <p>
          Download the RentalX app to manage your bookings, find exclusive
          deals, and access 24/7 support, all from your mobile device.
        </p>
        <div class="download__links">
          <a href="#">
            <img src="/static/assets/store.jpg" alt="app store" />
          </a>
          <a href="#">
            <img src="/static/assets/play.png" alt="play" />
          </a>
        </div>
      </div>
      <div class="download__image">
        <img src="/static/assets/download.png" alt="download" />
      </div>
    </div>
  </section>



{%endblock%}