<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Web Design Mastery | RentalX</title>
  </head>
  <body>
 
    <header>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">RentalX</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'rent' %}">Rent</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'ride' %}">Ride</a></li>
        {% comment %} <li><a href="{% url 'contact' %}">Contact</a></li> {% endcomment %}
        <li><a href="{% url 'about' %}" >About</a></li>
        <li><a href="{% url 'signup' %}" >Signup</a></li>
        
        
      </ul>
      <!-- <div class="nav__btns">
        <button class="btn btn__primary">Sign Up</button>
        <button class="btn btn__secondary">Sign In</button>
      </div> -->
    </nav>
 