 {% extends "base.html" %}

 {% block content %}
 <div class="section__container header__container" id="home">
  <div class="header__image">
    <img src="/static/assets/header1.png" alt="header" />
  </div>
  <div class="header__content">
    <h1>Looking to save more on your rental car?</h1>
    <p>
      Discover RentalX car rental aoptions in India with Rent a Car Select
      from a range of car options and local specials.
    </p>
    <div class="header__links">
      <a href="#">
        <img src="/static/assets/store.jpg" alt="app store" />
      </a>
      <a href="#">
        <img src="/static/assets/play.png" alt="play" />
      </a>
    </div>
  </div>
</div>
</header>
    <section class="section__container steps__container" id="rent">
      <p class="section__subheader">HOW IT WORKS</p>
      <h2 class="section__header">Rentgo following 3 working steps</h2>
      <div class="steps__grid">
        <div class="steps__card">
          <span><i class="ri-map-pin-fill"></i></span>
          <h4>Choose a location</h4>
          <p>
            Select your desired rental location from our extensive network of
            car rental spots.
          </p>
        </div>
        <div class="steps__card">
          <span><i class="ri-calendar-check-fill"></i></span>
          <h4>Pick-up date</h4>
          <p>
            Specify the date and time you wish to pick up your car with flexible
            scheduling options.
          </p>
        </div>
        <div class="steps__card">
          <span><i class="ri-bookmark-3-fill"></i></span>
          <h4>Book your car</h4>
          <p>
            Browse through our wide range of vehicles and choose the one that
            best suits your needs.
          </p>
        </div>
      </div>
    </section>

 

 

{% endblock %}

{% comment %}  
 {% include "footer.html" %} {% endcomment %}