{% extends "base.html" %}


{%block content %}
<section class="section__container experience__container" id="ride">
    <p class="section__subheader">CUSTOMER EXPERIENCE</p>
    <h2 class="section__header">
      We are ensuring the best customer experience
    </h2>
    <div class="experience__content">
      <div class="experience__card">
        <span><i class="ri-price-tag-3-fill"></i></span>
        <h4>Competitive pricing</h4>
      </div>
      <div class="experience__card">
        <span><i class="ri-money-rupee-circle-fill"></i></span>
        <h4>Easier Rent On Your Budget</h4>
      </div>
      <div class="experience__card">
        <span><i class="ri-bank-card-fill"></i></span>
        <h4>Most Felxible Payment Plans</h4>
      </div>
      <div class="experience__card">
        <span><i class="ri-award-fill"></i></span>
        <h4>The Best Extended Auto Warranties</h4>
      </div>
      <div class="experience__card">
        <span><i class="ri-customer-service-2-fill"></i></span>
        <h4>Roadside Assistance 24/7</h4>
      </div>
      <div class="experience__card">
        <span><i class="ri-car-fill"></i></span>
        <h4>Your Choice Of Mechanic</h4>
      </div>
      <img src="/static/assets/experience.png" alt="experience" />
    </div>
  </section>
{%endblock%}